.navbar{
    min-height: calc(15px + 55px);
    background-color: #fff;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
.navbar-icon {
    color:grey;
}

.main-content{
    background-color: #EED6D3;
    padding: 3px;
    width: 100%;
}

@media (min-width: 922px){
    .navbar-expand-lg{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

*, ::after, ::before{
    box-sizing: border-box;
}

/*The hero area */
body, html{
    height: 100%;
}

/*Add the hero image and set position*/
.hero-image{
    padding-top: 3rem;
    background-image: url("	http://127.0.0.1:5500/images/Magrietjies-round.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: initial;
    position: relative;
    height: 32rem;
}

*, ::after, ::before{
    box-sizing: border-box;
}
.hero-text{
    text-align: center;
    position: absolute;
    top:50%;
    left:15%;
    color:#67595E;
    transform: translate(-50%, -50%);
}

.container{
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#about-us{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*Section header*/
.section-header{
    font-family:'Overlock';
    font-size: 30px;
    color: #67595E;
}

.section-header .lines{
    text-align: center;
    margin: auto;
    width: 90%;
    position: relative;
    border-top: 2.5px solid #67595E;
    margin-top: 15px;
    margin-bottom: 50px;
}

.row{
    color:#A49393;
    font-size: 20px;
    font-family: 'nunito';
}

.about-us{
    
    padding-left: 15px;
    padding-right: 15px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

/* Two image containers (use 50% for two) side by side*/
.column {
    float:left;
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  /* Clear floats after image containers */
/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
  }
/*Resposive 'meet the team' images*/
.responsive{
    /*Restrict responsive images to max size, with pixel value of choice*/
    width: 100%;
    max-width: 650px;
    height: auto;
}

.our-products{
    text-align: center;
    padding-top: 3px;
}

/* Four image containers 25% width*/
.column{
    float: left;
    width: 25%;
    padding: 5px;
}

/*Responsive images*/
@media screen and (max-width: 700px) {
    .column {
      width: 100%;
    }
  }

  .image img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  } 

  .container:hover .text {
    visibility: visible;

    
  }


  .text {
    background-color:  #67595E;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;

  }

  .bg-gray{
    background-color: #ad969e;
  }

  .py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .py-6 .bg-gray .fw-bold .section-header .mb-3{
    font-family: 'Overlock';
    color: #fff;
  }

.footer{
  padding-top: 3rem;
  background-color: #67595E;
}

.company-name{
  font-family: 'Overlock';
  color:#A49393;
}

